@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.banner-btn {
  @apply flex items-center justify-center w-[140px] sm:w-[160px] py-2 border-solid border-[2px] text-sm rounded-s-none gap-2 transition-all duration-200 ease-in;
}

.swiper-pagination-bullet {
  @apply bg-white/70;
}

.swiper-pagination-bullet-active {
  @apply bg-red-600;
}

.list__card-content {
  @apply w-full relative  after:content-[""] after:top-0 
    after:left-0 after:absolute after:w-full after:h-full after:z-[5]  after:bg-gradient-to-t from-black/90  to-black/10;
}

@layer utilities {
  body::-webkit-scrollbar {
    width: 6px;
    height: 15px;
  }

  body::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #db1f1faf;
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: #db1f1f;
  }

  .search-panel::-webkit-scrollbar {
    width: 10px;
    height: 15px;
  }

  .search-panel::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .search-panel::-webkit-scrollbar-thumb {
    background-color: rgb(248 113 113);
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .search-panel::-webkit-scrollbar-thumb:hover {
    background-color: rgb(220 38 38);
  }

  .swiper-timing .swiper-wrapper {
    transition-timing-function: linear;
  }

  input:checked ~ .dot {
    transform: translateX(100%);
  }
}
